<div class="login_bg">
  <div><%= image_tag ("cem-logo-full.png") %></div>
  <h1 class="login-title title mt-4">
   <div>CEM PROJECT MANAGEMENT</div>
   <div>MONITORING SYSTEM</div>
  </h1>
  <div class="login_container">
    <p>Welcome to PMMS App ! </p>
    <% if notice  %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <div>
    <%= button_to "Login", dashboard_path, method: :get, class:"continue-btn" %>
    <%= button_to "Can't log in? - Sign up for an account", new_user_registration_path, method: :get, class:"signup-btn" %>
    <%= button_to "forgot password?", reset_password_path, method: :get, class:"forgot-pass" %>
    </div>
  </div>

</div>