<div class="message-bg"></div>
<div class="message-con">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="d-flex flex-column" style="height: 85%;">
      <h3>Conversations</h3>
      <div style="overflow-y: auto;">
        <div class="messages-container"></div>
      </div>
    </div>
    <div id="write-message">
      <%= form_with url:create_message_path(1), method: :post, local: true do |f| %>
        <div class="d-flex mt-2">
          <div class="circle">
            <span class="circle-inner" id="initial"><%= current_user.first_name.chr %><%= current_user.last_name.chr %></span>
          </div>
          <div style="margin-left: 10px; width: 100%;">
           <b><%= current_user.first_name %> <%= current_user.last_name %></b>  
           <div class="d-flex" id="m-hidden-forms">
            <%= f.hidden_field :first_name, value:current_user.first_name %>
            <%= f.hidden_field :last_name, value:current_user.last_name %>
            <%= f.hidden_field :time, value:DateTime.now.strftime("%b %d at %I:%M%p") %>
            <%= f.hidden_field :rock_id, id:"r-id" %>
            <%= f.text_area :message, required:true,placeholder:"Write your message here ...", id:"message-input" %>
            <div class="mx-3" id="m-submit"><%= image_submit_tag("send.png")%></div>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>