<div class="mx-2 mb-2 ">
  <h3 class="text-center">- - <%= ProjectWorkspace.find(params[:pw_id]).folder_name %> - -</h3>
  <%= link_to "Your Projects",view_projects_path, class:" #{'nav-active' if request.original_url.include? "yourprojects"} p-1"  %>

  <% if current_user.email == "jpbocatija@cem-inc.org.ph" %>
    <%= link_to "All Projects",view_allprojects_path, class:" #{'nav-active' if request.original_url.include? "allprojects"} p-1" %>
  <% elsif current_user.admin == true %>
    <%= link_to "All Projects",view_allprojects_path, class:" #{'nav-active' if request.original_url.include? "allprojects"} p-1" %>
  <% elsif current_user.host == true %>
    <%= link_to "All Projects",view_allprojects_path, class:" #{'nav-active' if request.original_url.include? "allprojects"} p-1" %>
  <% end %>
  <button id="addDataBtn">Export to Excel</button>
</div>

<script>


</script>