<div class="mx-2 mb-2 ">
  <div class="d-none" id="owner-param"><%= params[:rocks_owner] %></div>
  <h3 class="text-center">- - <%= ProjectWorkspace.find(params[:pw_id]).folder_name %> - -</h3>
  <%= link_to "Your Projects",view_projects_path({rocks_owner:current_user.id}), class:" #{'nav-active' if request.original_url.include? "yourprojects"} p-1"  %>

  <% if current_user.email == "jpbocatija@cem-inc.org.ph" %>
    <%= link_to "All Projects",view_allprojects_path({rocks_owner:"all_rocks"}), class:" #{'nav-active' if request.original_url.include? "allprojects"} p-1" %>
  <% elsif current_user.admin == true %>
    <%= link_to "All Projects",view_allprojects_path({rocks_owner:"all_rocks"}), class:" #{'nav-active' if request.original_url.include? "allprojects"} p-1" %>
  <% elsif current_user.host == true %>
    <%= link_to "All Projects",view_allprojects_path({rocks_owner:"all_rocks"}), class:" #{'nav-active' if request.original_url.include? "allprojects"} p-1" %>
  <% end %>
  <button id="addDataBtn">Export to Excel</button>

  <!-- Select Rock Owner -->
  <div class="mt-2">
    <%= form_tag do %>
      <%= select_tag 'selected_option', options_for_select(@pw_emails), id:"page_select", role:"button" %>
    <% end %>
  </div>

</div>

<script>
  $(document).ready(function(){
 
    var owner_param = $("#owner-param").text().replace('.1','')
    $("#page_select").val(owner_param)

    $('#page_select').on('change', function() {
      const selectedValue = $(this).val();
      if (selectedValue) {
        window.location.href = selectedValue;
      }
    });
  });

</script>