<%= render 'projects/projects_header' %>
<div style="height: 90vh;width: 100vw; overflow:scroll; " class="yourproject-con">
  <table class="table table-hover text-center" style="width:max-content; min-width: 100%;" id="exportTable">
    <thead>
      <tr style="color: #0067a3; border-bottom: 3px solid #0067a3;border-top: 3px solid #0067a3; height: 50px; vertical-align: middle;" class="export-tr" id="t-head">
        <th scope="col" style="min-width: 200px;" class="export-td">Task Name</th>
        <th scope="col" class="export-td">Duration</th>
        <th scope="col" style="width: 130px;" class="export-td">Start</th>
        <th scope="col" ></th>
        <th scope="col" style="width: 130px;" class="export-td">Finish</th>
        <th scope="col" class="export-td">Assigned To</th>
        <th scope="col" style="min-width: 150px;" class="export-td">% Complete</th>
        <th scope="col" style="min-width: 100px;" class="export-td">Date Completed</th>
        <th scope="col" style="min-width: 200px;" class="export-td">Status</th>
        <th scope="col" class="export-td">Output</th>
        <th scope="col" class="export-td">Remarks</th>
        <th scope="col" style="min-width:100px;" class="export-td">Reviewed By</th>
        <th scope="col" style="min-width:100px;" class="export-td">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @rocks.each do |rock| %>
        <!-- All Rocks -->
        <tr  class="all-rocks thisrock-<%= rock.id %> export-tr" style="background-color: rgb(215, 215, 215); font-weight: bold; vertical-align: middle;" role="button" id="rock-tr">
          <!-- display none -->
          <td style="display: none;" id="isrock">rock</td>
          <td style="display: none;" id="rock-user-id"><%= rock.user_id %></td>
          <td style="display: none;" id="rock-id"><%= rock.id %></td>
          <td style="display: none;" id="pw-id"><%= rock.project_workspace.id %></td>
          <td style="display: none;" id="start-<%= rock.id %>" class="start"><%= rock.start %></td>
          <td style="display: none;" id="finish-<%= rock.id %>" class="finish"><%= rock.finish %></td>
          <td style="display: none;" id="rock-assigned"><%= rock.assigned %></td>
          <td style="display: none;" id="percent-sum"><%= rock.milestones.pluck(:complete).reduce(:+) %></td>
          <td style="display: none;" id="m-count"><%= rock.milestones.count %></td>
          <td style="display: none;" class="output" ><%= rock.output %></td>
          <td style="display: none;" class="remarks" ><%= rock.remarks %></td>
          <td style="display: none;" class="next-mdate" >
            <% if rock.milestones.blank? %>
              <%= rock.start %>
            <% else %>
              <%= rock.milestones.order(start: :asc).last.finish + 1 %>
            <% end %>
          </td>
            <!-- messages -->
          <td style="display: none;" class="m-current-user"><%= current_user.first_name %> <%= current_user.last_name%></td>
          <td style="display: none;" class="message-id"><%= rock.rockmessages.order(created_at: :asc).pluck(:id) %></td>
          <td style="display: none;" class="milestone-messages"><%= rock.rockmessages.order(created_at: :asc).pluck(:message) %></td>
          <td style="display: none;" class="message-firstname"><%= rock.rockmessages.order(created_at: :asc).pluck(:first_name) %></td>
          <td style="display: none;" class="message-lastname"><%= rock.rockmessages.order(created_at: :asc).pluck(:last_name) %></td>
          <td style="display: none;" class="message-time"><%= rock.rockmessages.order(created_at: :asc).pluck(:time) %></td>

          <!-- display none -->
          <td class="task-name export-td" id="rockplus-<%= rock.id %>" style="text-align: left; min-width: 100px;">
            <% if rock.milestones.blank? %>
              <%= image_tag ("plus.png"),role:"button",style:"margin-left:1rem",class:"plus-icon" %>
              <%= image_tag ("minus.png"),role:"button", style:"margin-left:1rem",class:"minus-icon" %>
            <% else %>
              <%= image_tag ("plus_black.png"),role:"button",style:"margin-left:1rem",class:"plus-icon" %>
              <%= image_tag ("minus_black.png"),role:"button",style:"margin-left:1rem",class:"minus-icon" %>
            <% end %>
            <%= rock.task_name %>
          </td>
          <td class="export-td dayordays">
            <%= (rock.start.to_date..rock.finish.to_date).count do |date|
              date.workday?
            end %> <span></span>
          </td>
          <td class="export-td">[ <%= rock.start.strftime("%b %d, %Y") %></td>
          <td>>></td>
          <td class="export-td"><%= rock.finish.strftime("%b %d, %Y") %> ]</td>
          <td class="export-td d-none"><%= rock.assigned %></td>
          <td class="assigned">
            <% if !User.find(rock.user_id).profilepics.blank? %>
              <%= image_tag User.find(rock.user_id).profilepics.last.pic, class:"assigned-pics", title:User.find(rock.user_id).email %>
            <% else %>
              <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:User.find(rock.user_id).email %>
            <% end %>
            <% @all_users.each do |user| %>
              <% if rock.assigned.include? user.email %>
                <% if user.id == User.find(rock.user_id).id %>
                <% elsif !user.profilepics.blank?%>
                  <%= image_tag user.profilepics.last.pic, class:"assigned-pics", title:user.email %>
                <% else %>
                  <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:user.email %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td class="export-td rock-complete"><span class="complete"><%= rock.complete %></span> %</td>
          <td class="date-completed export-td">
            <% if rock.date_completed.nil? %>
              - -
            <% else %>
              <%= rock.date_completed.strftime("%b %d, %Y") %>
            <% end %>
          </td>
          <td class="status com-status export-td">
            <div class="d-flex align-items-center justify-content-center">
                <% case rock.complete %>
                  <% when 0 %>
                    <div class="bg-light px-2 py-1" style="flex:4">Not Started</div>
                  <% when 100 %>
                    <div class="bg-success px-2 py-1" style="flex:4">Complete</div>
                  <% else %>
                    <div class="bg-warning px-2 py-1" style="flex:4">In Progress</div>
                <% end %>

                <% if rock.finish >= Date.today %>
                  <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png")%></div>  
                <% else %>
                  <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="off track" class="track"><%= image_tag ("red_circle.png")%></div>  
                <% end %>
            </div>
          </td>
          <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= rock.output %></div></td>
          <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= rock.remarks %></div></td>
          <td class="reviewed-by">
            <div>
              <% if rock.reviewed_by.include? "checked"  %>
                <div class="btn btn-success export-td">Acknowledged by <%= User.find_by(email:rock.reviewed_by.split.first).first_name %></div>
              <% else %>
                <% if current_user.email == rock.user.email && rock.reviewed_by == "" && rock.assigned.length != 1  %>
                  <%= form_with url:update_rocks_reviewedby_path, method: :patch, local: true do |f| %>
                    <%= f.hidden_field :id, value:rock.id %>
                    <%= f.select(:reviewed_by,rock.assigned.drop(1)) %>
                    <%= f.submit "Send", class:"btn btn-success" %>
                  <% end %>
                <% elsif current_user.email == rock.reviewed_by %>
                  <%= form_with url:update_rocks_reviewedby_path, method: :patch, local: true do |f| %>
                    <div class="d-none export-td">Acknowledge</div>
                    <%= f.hidden_field :id, value:rock.id %>
                    <%= f.submit "Acknowledge", class:"btn btn-warning" %>
                  <% end %>
                <% elsif  rock.reviewed_by != "" %>
                  <div class="btn btn-danger export-td">To be reviewed by <%= User.find_by(email:rock.reviewed_by).first_name %></div>
                <% else %>
                  <div>- -</div>
                <% end %>
              <% end %>
            </div>
          </td>
          <td class="notif-con export-td" role="button">
            <div class="notif">
              <% if rock.rockmessages.empty? %>
                <span id="r-<%=rock.id%>"><%= image_tag ("message.png"), class:"project-icon m-message" %></span>
              <% else %>
                <span id="r-<%=rock.id%>"><%= image_tag ("message_1.png"), class:"project-icon m-message" %></span>
              <% end %>
              <% if User.find(rock.user_id) == current_user %>
                <%= link_to delete_rocks_path(rock.project_workspace.id,rock.id),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                  <%= image_tag ("delete.png"), class:"project-icon mb-1"%>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
        <!-- All Milestones -->
        <% @milestones.each do |milestone| %> 
          <% if rock.id == milestone.rock_id %>
            <tr class="all-milestones rock-<%= rock.id %> milestone-<%= milestone.id %> <%= milestone.assigned.include?(current_user.email) ? 'm-dblclick' : 'bg-light' %> export-tr" style="vertical-align: middle;" id="milestone-tr">
              <!-- display none -->
              <td style="display: none;" id="rock-id"><%= rock.id %></td>
              <td style="display: none;" id="milestone-id"><%= milestone.id %></td>
              <td style="display: none;" id="pw-id"><%= rock.project_workspace.id %></td>
              <td id="mstart-<%= milestone.id %>" class="start d-none"><%= milestone.start %></td>
              <td id="mfinish-<%= milestone.id %>" class="finish d-none"><%= milestone.finish %></td>
              <td style="display: none;" id="milestone-assigned"><%= milestone.assigned %></td>
              <td class="output d-none"><%= milestone.output %></td>
              <td class="remarks d-none"><%= milestone.remarks %></td>
              <td class="next-smdate d-none" >
                <% if milestone.submilestones.blank? %>
                  <%= milestone.start %>
                <% else %>
                  <%= milestone.submilestones.order(start: :asc).last.finish + 1 %>
                <% end %>
              </td>
                <!-- messages -->
              <td style="display: none;" class="m-current-user"><%= current_user.first_name %> <%= current_user.last_name%></td>
              <td style="display: none;" class="message-id"><%= milestone.messages.order(created_at: :asc).pluck(:id) %></td>
              <td style="display: none;" class="milestone-messages"><%= milestone.messages.order(created_at: :asc).pluck(:message) %></td>
              <td style="display: none;" class="message-firstname"><%= milestone.messages.order(created_at: :asc).pluck(:first_name) %></td>
              <td style="display: none;" class="message-lastname"><%= milestone.messages.order(created_at: :asc).pluck(:last_name) %></td>
              <td style="display: none;" class="message-time"><%= milestone.messages.order(created_at: :asc).pluck(:time) %></td>
              <!-- display none -->
              <td class="task-name export-td" id="mileplus-<%= milestone.id %>" style="text-align: left; min-width: 100px; padding-left:3.5rem">
                <% if milestone.submilestones.blank? %>
                  <%= image_tag ("plus_blue_blank.png"),role:"button",class:"m-plus-icon" %>
                  <%= image_tag ("minus_blue_blank.png"),role:"button",class:"m-minus-icon" %>
                <% else %>
                  <%= image_tag ("plus_blue.png"),role:"button",class:"m-plus-icon" %>
                  <%= image_tag ("minus_blue.png"),role:"button",class:"m-minus-icon" %>
                <% end %>
                <%= milestone.task_name %>
              </td>
              <td class="export-td dayordays">
                <%= (milestone.start.to_date..milestone.finish.to_date).count do |date|
                  date.workday?
                end %> <span></span>
              </td>
              <td class="export-td">[ <%= milestone.start.strftime("%b %d, %Y") %></td>
              <td>>></td>
              <td class="export-td"><%= milestone.finish.strftime("%b %d, %Y") %> ]</td>
              <td class="export-td d-none"><%= milestone.assigned %></td>
              <td class="assigned">
                <% if !milestone.user.profilepics.blank? %>
                  <%= image_tag milestone.user.profilepics.last.pic, class:"assigned-pics", title:milestone.user.email %>
                <% else %>
                  <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:milestone.user.email %>
                <% end %>
                <% @all_users.each do |user| %>
                  <% if user.id == milestone.user.id %>
                  <% elsif milestone.assigned.include? user.email %>
                    <% if !user.profilepics.blank? %>
                      <%= image_tag user.profilepics.last.pic, class:"assigned-pics", title:user.email %>
                    <% else %>
                      <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:user.email %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td class="export-td"><span class="complete"><%= milestone.complete %></span> %</td>
              <td class="date-completed export-td">
                <% if milestone.date_completed.nil? %>
                  - -
                <% else %>
                  <%= milestone.date_completed.strftime("%b %d, %Y") %>
                <% end %>
              </td>
              <td class="status com-status export-td" style="padding-left: 1.5rem;">
                <div class="d-flex align-items-center justify-content-center">
                    <% case milestone.complete %>
                      <% when 0 %>
                        <div class="bg-light px-2 py-1" style="flex:4">Not Started</div>
                      <% when 100 %>
                        <div class="bg-success px-2 py-1" style="flex:4">Complete</div>
                      <% else %>
                        <div class="bg-warning px-2 py-1" style="flex:4">In Progress</div>
                    <% end %>
    
                    <% if milestone.finish >= Date.today %>
                      <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png")%></div>  
                    <% else %>
                      <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="off track" class="track"><%= image_tag ("red_circle.png")%></div>  
                    <% end %>
                </div>
              </td>
              <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= milestone.output %></div></td>
              <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= milestone.remarks %></div></td>
              <td></td>
              <td class="notif-con export-td" role="button" >
                <div class="notif" style="margin-right: 15px;">
                  <% if milestone.messages.empty? %>
                    <span id="m-<%=milestone.id%>"><%= image_tag ("message.png"), class:"project-icon m-message" %></span>
                  <% else %>
                    <span id="m-<%=milestone.id%>"><%= image_tag ("message_1.png"), class:"project-icon m-message" %></span>
                  <% end %>
                  <% if milestone.user_id == current_user.id %>
                    <%= link_to delete_milestones_path(params[:pw_id],rock.id,milestone.id),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                      <%= image_tag ("delete.png"), class:"project-icon mb-1"%>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
            <!-- All Submilestones -->
            <% @submilestones.each do |submilestone| %> 
              <% if milestone.id == submilestone.milestone_id %>
                <tr class="all-submilestones mile-<%= milestone.id %> submilestone-<%= submilestone.id %> <%= submilestone.assigned.include?(current_user.email) ? 'subm-dblclick' : 'bg-light' %> export-tr" style="vertical-align: middle;" id="subm-tr">      
                  <td style="display: none;" id="is_subm">submilestone</td>
                  <td style="display: none;" id="rock-id"><%= rock.id %></td>
                  <td style="display: none;" id="milestone-id"><%= milestone.id %></td>
                  <td style="display: none;" id="submilestone-id"><%= submilestone.id %></td>
                  <td style="display: none;" id="pw-id"><%= rock.project_workspace.id %></td>
                  <td class="start d-none"><%= submilestone.start %></td>
                  <td class="finish d-none"><%= submilestone.finish %></td>
                  <td style="display: none;" id="submilestone-assigned"><%= submilestone.assigned %></td>
                  <td class="output d-none"><%= submilestone.output %></td>
                  <td class="remarks d-none"><%= submilestone.remarks %></td>
                  <td class="next-sub2date d-none" >
                    <% if submilestone.sub2milestones.blank? %>
                      <%= submilestone.start %>
                    <% else %>
                      <%= submilestone.sub2milestones.order(start: :asc).last.finish + 1 %>
                    <% end %>
                  </td>                  
                    <!-- messages -->
                  <td style="display: none;" class="m-current-user"><%= current_user.first_name %> <%= current_user.last_name%></td>
                  <td style="display: none;" class="message-id"><%= submilestone.submessages.order(created_at: :asc).pluck(:id) %></td>
                  <td style="display: none;" class="milestone-messages"><%= submilestone.submessages.order(created_at: :asc).pluck(:message) %></td>
                  <td style="display: none;" class="message-firstname"><%= submilestone.submessages.order(created_at: :asc).pluck(:first_name) %></td>
                  <td style="display: none;" class="message-lastname"><%= submilestone.submessages.order(created_at: :asc).pluck(:last_name) %></td>
                  <td style="display: none;" class="message-time"><%= submilestone.submessages.order(created_at: :asc).pluck(:time) %></td>
                  <!-- display none -->
                  <td class="task-name export-td" id="submplus-<%= submilestone.id %>" style="text-align: left; min-width: 100px; padding-left:6rem">
                    <% if submilestone.sub2milestones.blank? %>
                      <%= image_tag ("plus_purple_blank.png"),role:"button",class:"subm-plus-icon" %>
                      <%= image_tag ("minus_purple_blank.png"),role:"button",class:"subm-minus-icon" %>
                    <% else %>
                      <%= image_tag ("plus_purple.png"),role:"button",class:"subm-plus-icon" %>
                      <%= image_tag ("minus_purple.png"),role:"button",class:"subm-minus-icon" %>
                    <% end %>
                    <%= submilestone.task_name %>
                  </td>
                  <td class="export-td dayordays">
                    <%= (submilestone.start.to_date..submilestone.finish.to_date).count do |date|
                      date.workday?
                    end %> <span></span>
                  </td>
                  <td class="export-td">[ <%= submilestone.start.strftime("%b %d, %Y") %></td>
                  <td>>></td>
                  <td class="export-td"><%= submilestone.finish.strftime("%b %d, %Y") %> ]</td>
                  <td class="export-td d-none"><%= submilestone.assigned %></td>
                  <td class="assigned">
                    <% if !submilestone.user.profilepics.blank? %>
                      <%= image_tag submilestone.user.profilepics.last.pic, class:"assigned-pics", title:submilestone.user.email %>
                    <% else %>
                      <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:submilestone.user.email %>
                    <% end %>
                    <% @all_users.each do |user| %>
                      <% if user.id == submilestone.user.id %>
                      <% elsif submilestone.assigned.include? user.email %>
                        <% if !user.profilepics.blank? %>
                          <%= image_tag user.profilepics.last.pic, class:"assigned-pics", title:user.email %>
                        <% else %>
                          <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:user.email %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="export-td"><span class="complete"><%= submilestone.complete %></span> %</td>
                  <td class="date-completed export-td">
                    <% if submilestone.date_completed.nil? %>
                      - -
                    <% else %>
                      <%= submilestone.date_completed.strftime("%b %d, %Y") %>
                    <% end %>
                  </td>
                  <td class="status com-status export-td" style="padding-left: 3rem;">
                    <div class="d-flex align-items-center justify-content-center">
                        <% case submilestone.complete %>
                          <% when 0 %>
                            <div class="bg-light px-2 py-1" style="flex:4">Not Started</div>
                          <% when 100 %>
                            <div class="bg-success px-2 py-1" style="flex:4">Complete</div>
                          <% else %>
                            <div class="bg-warning px-2 py-1" style="flex:4">In Progress</div>
                        <% end %>
        
                        <% if submilestone.finish >= Date.today %>
                          <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png")%></div>  
                        <% else %>
                          <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="off track" class="track"><%= image_tag ("red_circle.png")%></div>  
                        <% end %>
                    </div>
                  </td>
                  <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= submilestone.output %></div></td>
                  <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= submilestone.remarks %></div></td>
                  <td></td>
                  <td class="notif-con export-td" role="button" >
                    <div class="notif" style="margin-right: 30px;">
                      <% if submilestone.submessages.empty? %>
                        <span id="sm-<%= submilestone.id %>"><%= image_tag ("message.png"), class:"project-icon m-message" %></span>
                      <% else %>
                        <span id="sm-<%= submilestone.id %>"><%= image_tag ("message_1.png"), class:"project-icon m-message" %></span>
                      <% end %>
                      <% if submilestone.user_id == current_user.id %>
                        <%= link_to delete_submilestones_path(params[:pw_id],rock.id,milestone.id,submilestone.id),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                          <%= image_tag ("delete.png"), class:"project-icon mb-1"%>
                        <% end %>
                      <% end %>
                    </div>
                  </td>
                </tr>
                <!-- All Sub2milestones -->
                <% @sub2milestones.each do |sub2milestone| %> 
                  <% if submilestone.id == sub2milestone.submilestone.id %>
                    <tr class="all-sub2milestones subm-<%= submilestone.id %> <%= sub2milestone.assigned.include?(current_user.email) ? 'sub2m-dblclick' : 'bg-light' %> export-tr" style="vertical-align: middle;" id="sub2m-tr">      
                      <td style="display: none;" id="is_subm">submilestone</td>
                      <td style="display: none;" id="rock-id"><%= rock.id %></td>
                      <td style="display: none;" id="milestone-id"><%= milestone.id %></td>
                      <td style="display: none;" id="submilestone-id"><%= submilestone.id %></td>
                      <td style="display: none;" id="sub2milestone-id"><%= sub2milestone.id %></td>
                      <td style="display: none;" id="pw-id"><%= rock.project_workspace.id %></td>
                      <td class="start d-none"><%= sub2milestone.start %></td>
                      <td class="finish d-none"><%= sub2milestone.finish %></td>
                      <td style="display: none;" id="sub2milestone-assigned"><%= sub2milestone.assigned %></td>
                      <td class="output d-none"><%= sub2milestone.output %></td>
                      <td class="remarks d-none"><%= sub2milestone.remarks %></td>
                        <!-- messages -->
                      <td style="display: none;" class="m-current-user"><%= current_user.first_name %> <%= current_user.last_name%></td>
                      <td style="display: none;" class="message-id"><%= submilestone.submessages.order(created_at: :asc).pluck(:id) %></td>
                      <td style="display: none;" class="milestone-messages"><%= submilestone.submessages.order(created_at: :asc).pluck(:message) %></td>
                      <td style="display: none;" class="message-firstname"><%= submilestone.submessages.order(created_at: :asc).pluck(:first_name) %></td>
                      <td style="display: none;" class="message-lastname"><%= submilestone.submessages.order(created_at: :asc).pluck(:last_name) %></td>
                      <td style="display: none;" class="message-time"><%= submilestone.submessages.order(created_at: :asc).pluck(:time) %></td>
                      <!-- display none -->
                      <td class="task-name export-td" style="text-align: left; min-width: 100px; padding-left:8rem"><%= sub2milestone.task_name %></td>
                      <td class="export-td dayordays">
                        <%= (sub2milestone.start.to_date..sub2milestone.finish.to_date).count do |date|
                          date.workday?
                        end %> <span></span>
                      </td>
                      <td class="export-td">[ <%= sub2milestone.start.strftime("%b %d, %Y") %></td>
                      <td>>></td>
                      <td class="export-td"><%= sub2milestone.finish.strftime("%b %d, %Y") %> ]</td>
                      <td class="export-td d-none"><%= sub2milestone.assigned %></td>
                      <td class="assigned">
                        <% if !sub2milestone.user.profilepics.blank? %>
                          <%= image_tag sub2milestone.user.profilepics.last.pic, class:"assigned-pics", title:sub2milestone.user.email %>
                        <% else %>
                          <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:sub2milestone.user.email %>
                        <% end %>
                        <% @all_users.each do |user| %>
                          <% if user.id == sub2milestone.user.id %>
                          <% elsif sub2milestone.assigned.include? user.email %>
                            <% if !user.profilepics.blank? %>
                              <%= image_tag user.profilepics.last.pic, class:"assigned-pics", title:user.email %>
                            <% else %>
                              <%= image_tag ("profile-pic.png"), class:"assigned-pics", title:user.email %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </td>
                      <td class="export-td"><span class="complete"><%= sub2milestone.complete %></span> %</td>
                      <td class="date-completed export-td">
                        <% if sub2milestone.date_completed.nil? %>
                          - -
                        <% else %>
                          <%= sub2milestone.date_completed.strftime("%b %d, %Y") %>
                        <% end %>
                      </td>
                      <td class="status com-status export-td" style="padding-left: 4.5rem;">
                        <div class="d-flex align-items-center justify-content-center">
                            <% case sub2milestone.complete %>
                              <% when 0 %>
                                <div class="bg-light px-2 py-1" style="flex:4">Not Started</div>
                              <% when 100 %>
                                <div class="bg-success px-2 py-1" style="flex:4">Complete</div>
                              <% else %>
                                <div class="bg-warning px-2 py-1" style="flex:4">In Progress</div>
                            <% end %>
            
                            <% if sub2milestone.finish >= Date.today %>
                              <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png")%></div>  
                            <% else %>
                              <div style="margin-left: 1rem; flex:1;text-align:start;" role="button" title="off track" class="track"><%= image_tag ("red_circle.png")%></div>  
                            <% end %>
                        </div>
                      </td>
                      <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= sub2milestone.output %></div></td>
                      <td class="export-td"><div style="min-height:min-content; max-height:100px; width:200px; white-space:pre-line; overflow:auto;"><%= sub2milestone.remarks %></div></td>
                      <td></td>
                      <td class="notif-con export-td" role="button" >
                        <div class="notif" style="margin-right: 30px;">
                          <% if sub2milestone.sub2messages.empty? %>
                            <span id="sm-<%= sub2milestone.id %>"><%= image_tag ("message.png"), class:"project-icon m-message" %></span>
                          <% else %>
                            <span id="sm-<%= sub2milestone.id %>"><%= image_tag ("message_1.png"), class:"project-icon m-message" %></span>
                          <% end %>
                          <% if sub2milestone.user_id == current_user.id %>
                            <%= link_to delete_sub2milestones_path(params[:pw_id],rock.id,milestone.id,submilestone.id,sub2milestone.id),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                              <%= image_tag ("delete.png"), class:"project-icon mb-1"%>
                            <% end %>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                <% end %><!--sub2milestone end -->
                <tr class="blank-sub2milestone subm-<%= submilestone.id %> submilestone-<%= submilestone.id %>" role="button">
                  <td style="padding-left:8rem;"><i style="background-color: aliceblue;">Create 3rd milestone</i></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <!-- Sub2milestone create form-->
                <tr class="new-sub2milestone create-sub2m-<%= submilestone.id %>">
                  <%= form_with url:create_sub2milestones_path(params[:pw_id],rock.id,milestone.id,submilestone.id), method: :post, local: true do |f| %>
                    <td class="d-none"><%= f.hidden_field :user_id, value:current_user.id, class:"px-2" %></td>
                    <td><%= f.text_field :task_name, required:true, class:"px-2 float-start", style:"margin-left: 7.5rem;"%></td>
                    <td></td>
                    <td><%= f.date_field :start, required:true, class:"px-2",id:"start", min: milestone.start, max: milestone.finish %></td>
                    <td>>></td>
                    <td><%= f.date_field :finish, required:true, class:"px-2",id:"finish", min: milestone.start, max: milestone.finish %></td>
                    <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5 }) %></td>
                    <td><%= f.number_field :complete, required:true, class:"px-2", style:"width: 65px; text-align:center", min:0, max:100, value:0 %> %</td>
                    <td></td>
                    <td></td>
                    <td><%= f.text_area :output, class:"px-2", style:"height:100px; width:200px;" %></td>
                    <td><%= f.text_area :remarks, class:"px-2", style:"height:100px; width:200px;" %></td>
                    <td></td>
                    <td>
                      <span><%= f.submit "Save" ,class:"btn btn-success mt-1 new-sub2m-submit" %></span>
                      <span class="x-new-sub2milestone mx-2 btn btn-danger mt-1">Cancel</span>
                    </td>
                  <% end %>
                </tr>
              <% end %> 
            <% end %> <!--submilestone end -->
            <tr class="blank-submilestone mile-<%= milestone.id %>" role="button">
              <td style="padding-left:6rem;"><i style="background-color: #D66AF4;">Create 2nd milestone</i></td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
             <!-- Sub Milestone create form-->
            <tr class="new-submilestone create-subm-<%= milestone.id %>">
              <%= form_with url:create_submilestones_path(params[:pw_id],rock.id,milestone.id), method: :post, local: true do |f| %>
                <td class="d-none"><%= f.hidden_field :user_id, value:current_user.id, class:"px-2" %></td>
                <td><%= f.text_field :task_name, required:true, class:"px-2 float-start", style:"margin-left: 5.5rem;"%></td>
                <td></td>
                <td><%= f.date_field :start, required:true, class:"px-2",id:"start", min: milestone.start, max: milestone.finish %></td>
                <td>>></td>
                <td><%= f.date_field :finish, required:true, class:"px-2",id:"finish", min: milestone.start, max: milestone.finish %></td>
                <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5 }) %></td>
                <td><%= f.number_field :complete, required:true, class:"px-2", style:"width: 65px; text-align:center", min:0, max:100, value:0 %> %</td>
                <td></td>
                <td></td>
                <td><%= f.text_area :output, class:"px-2", style:"height:100px; width:200px;" %></td>
                <td><%= f.text_area :remarks, class:"px-2", style:"height:100px; width:200px;" %></td>
                <td></td>
                <td>
                  <span><%= f.submit "Save" ,class:"btn btn-success mt-1 new-subm-submit" %></span>
                  <span class="x-new-submilestone mx-2 btn btn-danger mt-1">Cancel</span>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %><!--Milestone end -->
        <tr class="blank-milestone rock-<%= rock.id %>" role="button">
          <td style="padding-left:3rem;"><i style="background-color: #00E8FF;">Create 1st milestone</i></td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <!-- Milestone create form-->
        <tr class="new-milestone create-m-<%= rock.id %>">
          <%= form_with url:create_milestones_path(params[:pw_id],rock.id), method: :post, local: true do |f| %>
            <td class="d-none"><%= f.hidden_field :user_id, value:current_user.id, class:"px-2" %></td>
            <td><%= f.text_field :task_name, required:true, class:"px-2 float-start", style:"margin-left: 3.5rem;"%></td>
            <td></td>
            <td><%= f.date_field :start, required:true, class:"px-2",id:"start", min: rock.start, max: rock.finish %></td>
            <td>>></td>
            <td><%= f.date_field :finish, required:true, class:"px-2",id:"finish", min: rock.start, max: rock.finish %></td>
            <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5 }) %></td>
            <td><%= f.number_field :complete, required:true, class:"px-2", style:"width: 65px; text-align:center", min:0, max:100, value:0 %> %</td>
            <td></td>
            <td></td>
            <td><%= f.text_area :output, class:"px-2", style:"height:100px; width:200px;" %></td>
            <td><%= f.text_area :remarks, class:"px-2", style:"height:100px; width:200px;" %></td>
            <td></td>
            <td>
              <span><%= f.submit "Save" ,class:"btn btn-success mt-1 new-m-submit" %></span>
              <span class="x-new-milestone mx-2 btn btn-danger mt-1">Cancel</span>
            </td>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %><!--Rock end-->
      <!-- Rocks Create and Update -->
      <div id="current-user-email" class="d-none"><%= current_user.email %></div>
      <tr class="new-rock">
        <%= form_with url:create_rocks_path, method: :post, local: true do |f| %>
          <td style="display: none;"><%= f.number_field :user_id,value:current_user.id, required:true %></td>
          <td><%= f.text_field :task_name, required:true, class:"px-2 float-start mx-3" %></td>
          <td></td>
          <td><%= f.date_field :start, required:true, class:"px-2" %></td>
          <td>>></td>
          <td><%= f.date_field :finish, required:true, class:"px-2" %></td>
          <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5}) %></td>
          <td><%= f.number_field :complete, required:true, class:"px-2",style:"width: 65px; text-align:center",id:"complete", min:0, max:100, value:0 %> %</td>
          <td></td>
          <td></td>
          <td><%= f.text_area :output, class:"px-2", style:"height:100px; width:200px;" %></td>
          <td><%= f.text_area :remarks, class:"px-2", style:"height:100px; width:200px;" %></td>
          <td></td>
          <td>
            <span><%= f.submit "Save" ,class:"btn btn-success mt-1 new-rock-submit" %></span>
            <span class="x-create mx-2 btn btn-danger mt-1">Cancel</span>
          </td>
        <% end %>
      </tr>
      <tr class="update-rock">
        <%= form_with url:update_rocks_path, method: :patch, local: true do |f| %>
          <td style="display: none;"><%= f.number_field :user_id, required:true, id:"rock-user-id"%></td>
          <td style="display: none;"><%= f.number_field :id, required:true,id:"rock-id" %></td>
          <td style="display: none;"><%= f.number_field :pw_id, required:true,id:"pw-id" %></td>
          <td><%= f.text_field :task_name, required:true,id:"task-name", class:"px-2 float-start mx-3" %></td>
          <td></td>
          <td><%= f.date_field :start, required:true,id:"start", class:"px-2" %></td>
          <td>>></td>
          <td><%= f.date_field :finish, required:true,id:"finish", class:"px-2" %></td>
          <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5}) %></td>
          <td><%= f.number_field :complete, required:true, class:"px-2",style:"width: 65px; text-align:center",id:"complete", min:0, max:100 %> %</td>
          <td></td>
          <td></td>
          <td><%= f.text_area :output,id:"output", class:"px-2", style:"height:100px; width:200px;" %></td>
          <td><%= f.text_area :remarks,id:"remarks", class:"px-2", style:"height:100px; width:200px;" %></td>
          <td></td>
          <td>
            <span><%= f.submit "Save" ,class:"btn btn-success mt-1 update-r-submit" %></span>
            <span class="x-update mx-2 btn btn-danger mt-1">Cancel</span>
          </td>
        <% end %>
      </tr>
      <!-- Milstones Update -->
      <tr class="update-milestone">
        <%= form_with url:update_milestones_path(), method: :patch, local: true do |f| %>
          <td style="display: none;"><%= f.number_field :rock_id, required:true,id:"rock-id" %></td>
          <td style="display: none;"><%= f.number_field :id, required:true,id:"milestone-id" %></td>
          <td><%= f.text_field :task_name, required:true,id:"task-name", class:"px-2 float-start", style:"margin-left: 3.5rem;" %></td>
          <td></td>
          <td><%= f.date_field :start, required:true,id:"start", class:"px-2" %></td>
          <td>>></td>
          <td><%= f.date_field :finish, required:true,id:"finish", class:"px-2" %></td>
          <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5 }) %></td>
          <td><%= f.number_field :complete, required:true, class:"px-2",style:"width: 65px; text-align:center",id:"complete", min:0, max:100 %> %</td>
          <td></td>
          <td></td>
          <td><%= f.text_area :output,id:"output", class:"px-2", style:"height:100px; width:200px;" %></td>
          <td><%= f.text_area :remarks,id:"remarks", class:"px-2", style:"height:100px ;width:200px;" %></td>
          <td></td>
          <td>
            <span><%= f.submit "Save" ,class:"btn btn-success mt-1 update-m-submit" %></span>
            <span class="x-update-milestone mx-2 btn btn-danger mt-1">Cancel</span>
          </td>
        <% end %>
      </tr>
      <!--Sub Milestones Update -->
      <tr class="update-submilestone">
        <%= form_with url:update_submilestones_path(), method: :patch, local: true do |f| %>
          <td style="display: none;"><%= f.number_field :rock_id, required:true,id:"rock-id" %></td>
          <td style="display: none;"><%= f.number_field :milestone_id, required:true,id:"milestone-id" %></td>
          <td style="display: none;"><%= f.number_field :id, required:true,id:"submilestone-id" %></td>
          <td><%= f.text_field :task_name, required:true,id:"task-name", class:"px-2 float-start",style:"margin-left:5.5rem" %></td>
          <td></td>
          <td><%= f.date_field :start, required:true,id:"start", class:"px-2" %></td>
          <td>>></td>
          <td><%= f.date_field :finish, required:true,id:"finish", class:"px-2" %></td>
          <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5 }) %></td>
          <td><%= f.number_field :complete, required:true, class:"px-2",style:"width: 65px; text-align:center",id:"complete", min:0, max:100 %> %</td>
          <td></td>
          <td></td>
          <td><%= f.text_area :output,id:"output", class:"px-2", style:"height:100px; width:200px;" %></td>
          <td><%= f.text_area :remarks,id:"remarks", class:"px-2", style:"height:100px ;width:200px;" %></td>
          <td></td>
          <td>
            <span><%= f.submit "Save" ,class:"btn btn-success mt-1 update-subm-submit" %></span>
            <span class="x-update-submilestone mx-2 btn btn-danger mt-1">Cancel</span>
          </td>
        <% end %>
      </tr>
      <!--Sub2milstones Update -->
      <tr class="update-sub2milestone">
        <%= form_with url:update_sub2milestones_path(), method: :patch, local: true do |f| %>
          <td style="display: none;"><%= f.number_field :rock_id, required:true,id:"rock-id" %></td>
          <td style="display: none;"><%= f.number_field :milestone_id, required:true,id:"milestone-id" %></td>
          <td style="display: none;"><%= f.number_field :submilestone_id, required:true,id:"submilestone-id" %></td>
          <td style="display: none;"><%= f.number_field :id, required:true, id:"sub2milestone-id" %></td>
          <td><%= f.text_field :task_name, required:true,id:"task-name", class:"px-2 float-start",style:"margin-left:7.5rem" %></td>
          <td></td>
          <td><%= f.date_field :start, required:true,id:"start", class:"px-2" %></td>
          <td>>></td>
          <td><%= f.date_field :finish, required:true,id:"finish", class:"px-2" %></td>
          <td><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5 }) %></td>
          <td><%= f.number_field :complete, required:true, class:"px-2",style:"width: 65px; text-align:center",id:"complete", min:0, max:100 %> %</td>
          <td></td>
          <td></td>
          <td><%= f.text_area :output,id:"output", class:"px-2", style:"height:100px; width:200px;" %></td>
          <td><%= f.text_area :remarks,id:"remarks", class:"px-2", style:"height:100px ;width:200px;" %></td>
          <td></td>
          <td>
            <span><%= f.submit "Save" ,class:"btn btn-success mt-1 update-sub2m-submit" %></span>
            <span class="x-update-sub2milestone mx-2 btn btn-danger mt-1">Cancel</span>
          </td>
        <% end %>
        <!-- url params plus icon-->
        <div class="d-none rock-params"><%= params[:rock_id] %></div>
        <div class="d-none milestone-params"><%= params[:milestone_id] %></div>
        <div class="d-none subm-params"><%= params[:subm_id] %></div>
        <!-- url params messages-->
        <div class="d-none rock-m-id"><%= params[:rock_m_id] %></div>
        <div class="d-none milestone-m-id"><%= params[:mm_id] %></div>
        <div class="d-none submilestone-m-id"><%= params[:sm_id] %></div>
        <div class="d-none rocks-owner"><%= params[:rocks_owner] %></div>
      </tr>      
    </tbody>
  </table>
  <div role="button" class="new-project mx-4 mb-3">
    Add new project here !
  </div>
  <%= render 'projects/messages' %>

</div>

<script>

  $(document).ready(function(){
    // -----Rock Section------
    // Create New Rock
    $(".new-rock").css("display", "none")

    $(".new-project").click(function(){
      var user_email = $("#current-user-email").text()
      $(".new-rock").find("#assigned").val(user_email)
      $(".new-rock").show();
      $(this).hide();

      // trigger escape and enter key
      $(document).off('keydown');
      $(document).on('keydown', function(event) {
        if (event.which === 27) {
          $(".x-create").trigger("click")
        }
      });
    });

    $(".new-rock").click(function(){
      // trigger escape and enter key
      $(document).off('keydown');
      $(document).on('keydown', function(event) {
        if (event.which === 27) {
          $(".x-create").trigger("click")
        }
        if (event.ctrlKey && event.keyCode === 13) {
          $(".new-rock-submit").trigger("click")
        }
      });
    });

    $(".x-create").click(function(){
      $(".new-rock").hide();
      $(".new-project").show();
    });

    // Edit Rock
    $(".update-rock").css("display", "none")
    $(".all-rocks").each( function(index,value) {
      $(value).dblclick(function(){
        $(".all-rocks").show();
        // rock variables
        var task_name =  $(this).children(".task-name").text().trimLeft();
        var start =  $(this).children(".start").text()
        var finish =  $(this).children(".finish").text()
        var assigned =  $(this).children("#rock-assigned").text()
        var complete =  $(this).find(".complete").text()
        var output =  $(this).children(".output").text()
        var remarks =  $(this).children(".remarks").text()
        var rock_id =  $(this).children("#rock-id").text()
        var rock_user_id =  $(this).children("#rock-user-id").text()
        var pw_id =  $(this).children("#pw-id").text()
        // rock values
        $(".update-rock").find("#task-name").val(task_name)
        $(".update-rock").find("#start").val(start)
        $(".update-rock").find("#finish").val(finish)
        $(".update-rock").find("#assigned").val(JSON.parse(assigned))
        $(".update-rock").find("#complete").val(complete)
        $(".update-rock").find("#output").val(output)
        $(".update-rock").find("#remarks").val(remarks)
        $(".update-rock").find("#rock-id").val(rock_id)
        $(".update-rock").find("#rock-user-id").val(rock_user_id)
        $(".update-rock").find("#pw-id").val(pw_id)

        $(this).hide()
        $(".update-rock").insertAfter($(this))
        $(".update-rock").show();

        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(".x-update").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            $(".update-r-submit").trigger("click")
          }
        });
      })
    })
    $(".x-update").click(function(){
      $(".update-rock").hide();
      $(".all-rocks").show();
    });

    // Hide Reviewed by td
    $(".reviewed-by").children("div").css("display", "none")
    $(".rock-complete").each( function(index,complete) {
      if ($(complete).children(".complete").text() == "100"){
        $(complete).siblings(".reviewed-by").children("div").show()
      }
    });

    // Strike through complete status Rock, Milestone, and Submilestone
    $(".com-status").each( function(index,value) {
      if ($(value).text().replace(/\s/g, "") == "Complete"){
        $(value).parents("tr").children("td").not(".notif-con").css("text-decoration", "line-through")
        $(value).parents("tr").children("td").not(".notif-con").css("text-decoration-color", "red")
        $(value).parents("tr").children("td").not(".notif-con").css("font-style", "italic")
        $(value).find(".track").hide()
      }
    });
    //Add day or days
    $(".dayordays").each( function(index,day) {
      if ($(day).text().replace(/\s/g, "") == "1"){
        $(day).find("span").text("day")
      } else {
        $(day).find("span").text("days")
      }
    });

    // -----Milestone Section------

    // Show / Hide / Create Milestones
    $(".minus-icon").css("display", "none")
    $(".all-milestones").css("display", "none")
    $(".new-milestone").css("display", "none")
    $(".blank-milestone").css("display", "none")
    $(".plus-icon").each( function(index,plus) {
      $(plus).click(function(){
        $(this).hide()
        $(this).next(".minus-icon").show()
        var id = $(plus).parents(".task-name").siblings("#rock-id").text()
        var rock_id = ".rock-" + id
        $(rock_id).show()
        $(rock_id + ".new-milestone").hide()

        // Colapse Milestone when click escape
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(plus).next(".minus-icon").trigger("click")
          }
        });
      });
    });
    $(".minus-icon").each( function(index,minus) {
      $(minus).click(function(){
        $(this).hide()
        $(this).prev(".plus-icon").show()
        var id = $(minus).parents(".task-name").siblings("#rock-id").text()
        var rock_id = ".rock-" + id
        var create_m_id = ".create-m-" + id
        $(rock_id).hide()
        $(create_m_id).hide()
        $(".update-milestone").hide()
        $(".update-milestone").insertAfter($(".update-rock"))

        $(".m-minus-icon").each( function(index,minus) {
          $(minus).trigger("click")
        });
      });
    });
    // Edit milestone
    $(".update-milestone").hide()
    $(".m-dblclick").each( function(index,value) {
      $(value).attr("role", "button");
      $(value).dblclick(function(){
        // milestone variables
        var task_name =  $(this).children(".task-name").text().trimLeft();
        var start =  $(this).children(".start").text()
        var finish =  $(this).children(".finish").text()
        var assigned =  $(this).children("#milestone-assigned").text()
        var complete =  $(this).find(".complete").text()
        var output =  $(this).children(".output").text()
        var remarks =  $(this).children(".remarks").text()
        var rock_id =  $(this).children("#rock-id").text()
        var milestone_id =  $(this).children("#milestone-id").text()
        // milestone values
        $(".update-milestone").find("#task-name").val(task_name)
        $(".update-milestone").find("#start").val(start)
        $(".update-milestone").find("#finish").val(finish)
        $(".update-milestone").find("#assigned").val(JSON.parse(assigned))
        $(".update-milestone").find("#complete").val(complete)
        $(".update-milestone").find("#output").val(output)
        $(".update-milestone").find("#remarks").val(remarks)
        $(".update-milestone").find("#rock-id").val(rock_id)
        $(".update-milestone").find("#milestone-id").val(milestone_id)
        // show milestones
        $(`.rock-${rock_id}`).show();
        // show update milestone form
        $(".update-milestone").prev("tr").not(".update-rock").show()
        $(this).hide()
        $(".update-milestone").insertAfter($(this))
        $(".update-milestone").show();

        // get start and finish date
        var start_date = $("#start-" + rock_id).text()
        var finish_date = $("#finish-" + rock_id).text()
        $(".update-milestone").find("#start").attr("min", start_date);
        $(".update-milestone").find("#start").attr("max", finish_date);
        $(".update-milestone").find("#finish").attr("min", start_date);
        $(".update-milestone").find("#finish").attr("max", finish_date);

        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(".x-update-milestone").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            $(".update-m-submit").trigger("click")
          }
        });
      })
    })
    $(".x-update-milestone").click(function(){
      $(this).parents(".update-milestone").prev(".all-milestones").show()
      $(".update-milestone").hide();
    });
    // Show new milestone form
    $(".blank-milestone").each( function(index,blank) {
      $(blank).click(function(){
        // assign next date
        var next_date =  $('.all-rocks').eq(index).children(".next-mdate").text().replace(/\s/g, "")
        $(".new-milestone").find("#start").val(next_date)
        $(".new-milestone").find("#finish").val(next_date)
        // assigned users base on rock users
        var rock = '.thisrock-' + $(this).attr('class').match(/\d+/)[0]
        var assigned =  $(rock).children("#rock-assigned").text()
        $(".new-milestone").find("#assigned").val(JSON.parse(assigned))
        $(blank).next(".new-milestone").show()
        $(blank).hide()

        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(blank).next(".new-milestone").find(".x-new-milestone").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            (".new-m-submit").trigger("click")
          }
        });
      });
      $(blank).next(".new-milestone").click(function(){
        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(this).find(".x-new-milestone").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            $(this).find(".new-m-submit").trigger("click")
          }
        });
      });
    });
  
    // exit new milestone form
    $(".x-new-milestone").each( function(index,milestone) {
      $(milestone).click(function(){
        $(this).parents(".new-milestone").hide()
        $(this).parents(".new-milestone").prev(".blank-milestone").show()
      });
    });
    // Show milestone after create or update
    var id = $(".rock-params").text().replace('.1','')
    var rock_id = ".rock-" + id
    $(rock_id).show()
    $(rock_id + ".new-milestone").hide()
    $(rock_id).prev("tr").find(".plus-icon").hide()
    $(rock_id).prev("tr").find(".minus-icon").show()

    // -----Sub Milestone Section------

    // Show / Hide / Create Sub Milestones
    $(".m-minus-icon").css("display", "none")
    $(".all-submilestones").css("display", "none")
    $(".new-submilestone").css("display", "none")
    $(".blank-submilestone").css("display", "none")
    $(".m-plus-icon").each( function(index,plus) {
      $(plus).click(function(){
        $(this).hide()
        $(this).next(".m-minus-icon").show()
        var id = $(plus).parents(".task-name").siblings("#milestone-id").text()
        var mile_id = ".mile-" + id
        $(mile_id).show()
        // $(mile_id + ".new-milestone").hide()

        // Colapse Milestone when click escape
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(plus).next(".m-minus-icon").trigger("click")
          }
        });
      });
    });
    $(".m-minus-icon").each( function(index,minus) {
      $(minus).click(function(){
        $(this).hide()
        $(this).prev(".m-plus-icon").show()
        var id = $(minus).parents(".task-name").siblings("#milestone-id").text()
        var mile_id = ".mile-" + id
        var create_subm_id = ".create-subm-" + id
        $(mile_id).hide()
        $(create_subm_id).hide()
        $(".update-submilestone").hide()
        $(".update-submilestone").insertAfter($(".update-milestone"))
        // trigger submilestone minus icon
        $(mile_id).find(".subm-minus-icon").trigger("click")
      });
    });

    // Edit Submilestone
    $(".update-submilestone").hide()
    $(".subm-dblclick").each( function(index,value) {
      $(value).attr("role", "button");
      $(value).dblclick(function(){
        // milestone variables
        var task_name =  $(this).children(".task-name").text().trimLeft();
        var start =  $(this).children(".start").text()
        var finish =  $(this).children(".finish").text()
        var assigned =  $(this).children("#submilestone-assigned").text()
        var complete =  $(this).find(".complete").text()
        var output =  $(this).children(".output").text()
        var remarks =  $(this).children(".remarks").text()
        var rock_id =  $(this).children("#rock-id").text()
        var milestone_id =  $(this).children("#milestone-id").text()
        var submilestone_id =  $(this).children("#submilestone-id").text()
        // milestone values
        $(".update-submilestone").find("#task-name").val(task_name)
        $(".update-submilestone").find("#start").val(start)
        $(".update-submilestone").find("#finish").val(finish)
        $(".update-submilestone").find("#assigned").val(JSON.parse(assigned))
        $(".update-submilestone").find("#complete").val(complete)
        $(".update-submilestone").find("#output").val(output)
        $(".update-submilestone").find("#remarks").val(remarks)
        $(".update-submilestone").find("#rock-id").val(rock_id)
        $(".update-submilestone").find("#milestone-id").val(milestone_id)
        $(".update-submilestone").find("#submilestone-id").val(submilestone_id)
        // show milestones
        $(`.mile-${submilestone_id}`).show();
        // show update milestone form
        $(".update-submilestone").prev("tr").not(".update-milestone").show()
        $(this).hide()
        $(".update-submilestone").insertAfter($(this))
        $(".update-submilestone").show();

        // get start and finish date
        var start_date = $("#mstart-" + milestone_id).text()
        var finish_date = $("#mfinish-" + milestone_id).text()
        $(".update-submilestone").find("#start").attr("min", start_date);
        $(".update-submilestone").find("#start").attr("max", finish_date);
        $(".update-submilestone").find("#finish").attr("min", start_date);
        $(".update-submilestone").find("#finish").attr("max", finish_date);

        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(".x-update-submilestone").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            $(".update-subm-submit").trigger("click")
          }
        });
      })
    })
    $(".x-update-submilestone").click(function(){
      $(this).parents(".update-submilestone").prev(".all-submilestones").show()
      $(".update-submilestone").hide();
    });
    // Show new submilestone form
    $(".blank-submilestone").each( function(index,blank) {
      $(blank).click(function(event){
        // assign next date
        var next_date =  $('.all-milestones').eq(index).children(".next-smdate").text().replace(/\s/g, "")
        $(".new-submilestone").find("#start").val(next_date)
        $(".new-submilestone").find("#finish").val(next_date)
        // copy assigned from milestone
        var milestone = '.milestone-' + $(this).attr('class').match(/\d+/)[0]
        var assigned =  $(milestone).children("#milestone-assigned").text()
        $(".new-submilestone").find("#assigned").val(JSON.parse(assigned))
        $(blank).next(".new-submilestone").show()
        $(blank).hide()

        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(blank).next(".new-submilestone").find(".x-new-submilestone").trigger("click")
            $(document).off('keydown');
          }
        });
      });
      $(blank).next(".new-submilestone").click(function(){
        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(blank).next(".new-submilestone").find(".x-new-submilestone").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            $(blank).next(".new-submilestone").find(".new-subm-submit").trigger("click")
          }
        });
      });
    });
    // exit new submilestone form
    $(".x-new-submilestone").each( function(index,milestone) {
      $(milestone).click(function(){
        $(this).parents(".new-submilestone").hide()
        $(this).parents(".new-submilestone").prev(".blank-submilestone").show()
        });
    });

        // -----Sub2milestone Section------
    // Show / Hide / Create Sub2milestones
    $(".subm-minus-icon").css("display", "none")
    $(".all-sub2milestones").css("display", "none")
    $(".new-sub2milestone").css("display", "none")
    $(".blank-sub2milestone").css("display", "none")

    $(".subm-plus-icon").each( function(index,plus) {
      $(plus).click(function(){
        $(this).hide()
        $(this).next(".subm-minus-icon").show()
        var id = $(plus).parents(".task-name").siblings("#submilestone-id").text()
        var subm_id = ".subm-" + id
        $(subm_id).show()
   
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(plus).next(".subm-minus-icon").trigger("click")
          }
        });
      });
    });
    $(".subm-minus-icon").each( function(index,minus) {
      $(minus).click(function(){
        $(this).hide()
        $(this).prev(".subm-plus-icon").show()
        var id = $(minus).parents(".task-name").siblings("#submilestone-id").text()
        var subm_id = ".subm-" + id
        var create_sub2m_id = ".create-sub2m-" + id
        $(subm_id).hide()
        $(create_sub2m_id).hide()
        $(".update-sub2milestone").hide()
        $(".update-sub2milestone").insertAfter($(".update-submilestone"))
      });
    });

    // Edit Sub2milestone
    $(".update-sub2milestone").hide()
    $(".sub2m-dblclick").each( function(index,value) {
      $(value).attr("role", "button");
      $(value).dblclick(function(){
        // milestone variables
        var task_name =  $(this).children(".task-name").text().trimLeft();
        var start =  $(this).children(".start").text()
        var finish =  $(this).children(".finish").text()
        var assigned =  $(this).children("#sub2milestone-assigned").text()
        var complete =  $(this).find(".complete").text()
        var output =  $(this).children(".output").text()
        var remarks =  $(this).children(".remarks").text()
        var rock_id =  $(this).children("#rock-id").text()
        var milestone_id =  $(this).children("#milestone-id").text()
        var submilestone_id =  $(this).children("#submilestone-id").text()
        var sub2milestone_id =  $(this).children("#sub2milestone-id").text()
        // milestone values
        $(".update-sub2milestone").find("#task-name").val(task_name)
        $(".update-sub2milestone").find("#start").val(start)
        $(".update-sub2milestone").find("#finish").val(finish)
        $(".update-sub2milestone").find("#assigned").val(JSON.parse(assigned))
        $(".update-sub2milestone").find("#complete").val(complete)
        $(".update-sub2milestone").find("#output").val(output)
        $(".update-sub2milestone").find("#remarks").val(remarks)
        $(".update-sub2milestone").find("#rock-id").val(rock_id)
        $(".update-sub2milestone").find("#milestone-id").val(milestone_id)
        $(".update-sub2milestone").find("#submilestone-id").val(submilestone_id)
        $(".update-sub2milestone").find("#sub2milestone-id").val(sub2milestone_id)
        // show sub2milestones
        $(`.subm-${submilestone_id}`).show();
        $(this).hide()
        $(".update-sub2milestone").insertAfter($(this))
        $(".update-sub2milestone").show();

        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(".x-update-sub2milestone").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            $(".update-sub2m-submit").trigger("click")
          }
        });
      })
    })
    $(".x-update-sub2milestone").click(function(){
      $(this).parents(".update-sub2milestone").prev(".all-sub2milestones").show()
      $(".update-sub2milestone").hide();
    });
    // Show new submilestone form
    $(".blank-sub2milestone").each( function(index,blank) {
      $(blank).click(function(event){
        // assign next date
        var next_date =  $('.all-submilestones').eq(index).children(".next-sub2date").text().replace(/\s/g, "")
        $(".new-sub2milestone").find("#start").val(next_date)
        $(".new-sub2milestone").find("#finish").val(next_date)
        // copy assigned from milestone
        var class_length = $(this).attr('class').split(/\s+/).length
        var submilestone = "." + $(this).attr('class').split(/\s+/)[class_length - 1]
        var assigned =  $(submilestone).children("#submilestone-assigned").text()
        $(".new-sub2milestone").find("#assigned").val(JSON.parse(assigned))
        $(blank).next(".new-sub2milestone").show()
        $(blank).hide()

        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(blank).next(".new-sub2milestone").find(".x-new-sub2milestone").trigger("click")
            $(document).off('keydown');
          }
        });
      });
      $(blank).next(".new-sub2milestone").click(function(){
        // trigger escape and enter key
        $(document).off('keydown');
        $(document).on('keydown', function(event) {
          if (event.which === 27) {
            $(blank).next(".new-sub2milestone").find(".x-new-sub2milestone").trigger("click")
          }
          if (event.ctrlKey && event.keyCode === 13) {
            $(blank).next(".new-sub2milestone").find(".new-sub2m-submit").trigger("click")
          }
        });
      });
    });
    // exit new submilestone form
    $(".x-new-sub2milestone").each( function(index,sub2milestone) {
      $(sub2milestone).click(function(){
        $(this).parents(".new-sub2milestone").hide()
        $(this).parents(".new-sub2milestone").prev(".blank-sub2milestone").show()
      });
    });

    // Message Section
    $(".message-bg").css("display", "none")
    $(".message-con").css("display", "none")

    $(".m-message").each(function(index,message){
      $(message).click(function(){
        $(".messages-container").empty()
        $(".message-con").show()
        $(".message-bg").show()

        let rocks_owner = $(".rocks-owner").text()
        let current_user = $(this).parents(".notif-con").siblings(".m-current-user").text()
        let message_id = JSON.parse($(this).parents(".notif-con").siblings(".message-id").text())
        let isrock = $(this).parents(".notif-con").siblings("#isrock").text()
        let is_subm = $(this).parents(".notif-con").siblings("#is_subm").text()
        let rock_id = $(this).parents(".notif-con").siblings("#rock-id").text()
        let pw_id = $(this).parents(".notif-con").siblings("#pw-id").text()
        let milestone_id = $(this).parents(".notif-con").siblings("#milestone-id").text()
        let submilestone_id = $(this).parents(".notif-con").siblings("#submilestone-id").text()
        let message_firstname = JSON.parse($(this).parents(".notif-con").siblings(".message-firstname").text())
        let message_lastname = JSON.parse($(this).parents(".notif-con").siblings(".message-lastname").text())
        let message_time = JSON.parse($(this).parents(".notif-con").siblings(".message-time").text())
        let message_array = JSON.parse($(this).parents(".notif-con").siblings(".milestone-messages").text())

        message_array.forEach( (message,index) => {
          $(".messages-container").append(
            `<div class="d-flex mt-3">
              <div class="circle">
                <span class="circle-inner">${message_firstname[index].charAt(0)}${message_lastname[index].charAt(0)}</span>
              </div>
              <div style="margin-left: 10px;">
                <b class="message-names">${message_firstname[index]} ${message_lastname[index]}</b>
                <div style="white-space:pre-wrap">${message.replace( /\n/g, '<br>' )}</div>
                <div class="mt-2 message-sub">${message_time[index]}</div>
                <div id="del-edit-${index}" class="message-sub">
                  <a href="#message-input" id="edit-message">edit</a>
                  <%= link_to delete_message_path(1,1,1,1),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},id:"delete-message" do %>
                    <span class="mx-2">delete</span>
                  <% end %>
                </div>
              </div>
            </div>`
          );
          // Delete message
          if (isrock == "rock"){
            $(`#del-edit-${index}`).find("#delete-message").attr("href",`/delete/rockmessages/${pw_id}/${rock_id}/${message_id[index]}/${rocks_owner}`);
          }else if(is_subm == "submilestone"){
            $(`#del-edit-${index}`).find("#delete-message").attr("href",`/delete/submessages/${pw_id}/${rock_id}/${milestone_id}/${submilestone_id}/${message_id[index]}/${rocks_owner}`);
          }else{
            $(`#del-edit-${index}`).find("#delete-message").attr("href",`/delete/messages/${pw_id}/${rock_id}/${milestone_id}/${message_id[index]}/${rocks_owner}`);
          }
          // Edit message
          $(`#del-edit-${index}`).find("#edit-message").click(function(){
            $("#write-message").find("#message-input").val(`${message}`)
            if (isrock == "rock"){
              $("#write-message").find("form").attr("action",`/projects/rockmessages/${pw_id}/${rock_id}/${message_id[index]}/${rocks_owner}`);
            }else if(is_subm == "submilestone"){
              $("#write-message").find("form").attr("action",`/submilestones/submessages/${pw_id}/${rock_id}/${milestone_id}/${submilestone_id}/${message_id[index]}/${rocks_owner}`);
            }else{
              $("#write-message").find("form").attr("action",`/projects/messages/${pw_id}/${milestone_id}/${message_id[index]}/${rocks_owner}`);
            }
            $("#write-message").find("form").attr("method",'patch');
            $("#m-hidden-forms").find("#r-id").val(`${rock_id}`);
          })
          // Hide edit and delete
          if (message_firstname[index] + " " + message_lastname[index] != current_user ) {
            $(`#del-edit-${index}`).hide()
          }
        })
        //Create Milestone Message
        $("#write-message").find("form").attr("method",'post');
        // Create Message
        if (isrock == "rock"){
          $("#write-message").find("form").attr("action",`/projects/rockmessages/${pw_id}/${rock_id}/${rocks_owner}`);
        }else if (is_subm == "submilestone"){
          $("#write-message").find("form").attr("action",`/submilestones/submessages/${pw_id}/${milestone_id}/${submilestone_id}/${rocks_owner}`);
          $("#m-hidden-forms").find("#r-id").val(`${rock_id}`);
        }else{
          $("#write-message").find("form").attr("action",`/projects/messages/${pw_id}/${milestone_id}/${rocks_owner}`);
          $("#m-hidden-forms").find("#r-id").val(`${rock_id}`);
        }

      })
    })
    $(".message-bg").click(function(){
        $(this).hide()
        $(".message-con").hide()
    })

// url params plus icon
  var r_id = $(".rock-params").text().replace('.1','')
  var m_id = $(".milestone-params").text().replace('.1','')
  var subm_id = $(".subm-params").text().replace('.1','')
// url params messages
  var rm_id = $(".rock-m-id").text().replace('.1','')
  var mm_id = $(".milestone-m-id").text().replace('.1','')
  var sm_id = $(".submilestone-m-id").text().replace('.1','')
  
// Trigger plus icon after create/delete/update submilestones
  var rockplus = "#rockplus-" + r_id 
  var mileplus = "#mileplus-" + m_id
  var submplus = "#submplus-" + subm_id
  $(rockplus).find(".plus-icon").trigger("click")
  $(mileplus).find(".m-plus-icon").trigger("click")
  $(submplus).find(".subm-plus-icon").trigger("click")


// Trigger message after create/delete/update
  // rock
  var rock_id = "#r-" + rm_id
  $(rock_id).find("img").trigger("click")
  // milestone
  var milestone_id = "#m-" + mm_id
  $(milestone_id).find("img").trigger("click")
  // submilestone
  var submilestone_id = "#sm-" + sm_id
  $(submilestone_id).find("img").trigger("click")

  // Function to add data to Excel file
  function addDataToExcel() {
      var data = []
      $(".export-tr").each( function(index_tr,tr) {
        let td_array = []
        $(tr).find(".export-td").each( function(index_td,td) {
          let trim_text = $(td).text().trimLeft()
          if ($(tr).attr('id') == "rock-tr"){
            if ($(td).attr('class').includes("task-name")){
              td_array.push(" * " + trim_text)
            }else{
              td_array.push(trim_text)
            }
          }else if ($(tr).attr('id') == "milestone-tr"){
            if ($(td).attr('class').includes("task-name")){
              td_array.push("     -  " + trim_text)
            }else{
            td_array.push(trim_text)
            }
          }else if($(tr).attr('id') == "subm-tr"){
            if ($(td).attr('class').includes("task-name")){
              td_array.push("        -  " + trim_text)
            }else{
            td_array.push(trim_text)
            }
          }else if($(tr).attr('id') == "sub2m-tr"){
            if ($(td).attr('class').includes("task-name")){
              td_array.push("               " + trim_text)
            }else{
            td_array.push(trim_text)
            }            
          }else{
            td_array.push(trim_text)
          }
        })
        if ($(tr).attr('id') === "rock-tr" && index_tr !== 1 ){
          data.push([])
        }
        data.push(td_array)
      })
      var ws = XLSX.utils.aoa_to_sheet(data);
      var wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, ws, "SheetJS");

      var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });

      function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i < s.length; i++) {
          view[i] = s.charCodeAt(i) & 0xFF;
        }
        return buf;
      }

      var blob = new Blob([s2ab(wbout)], { type: 'application/octet-stream' });

      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, 'data.xlsx');
      } else {
        var link = document.createElement('a');
        if (link.download !== undefined) {
          var url = URL.createObjectURL(blob);
          link.setAttribute('href', url);
          link.setAttribute('download', 'data.xlsx');
          link.style.visibility = 'hidden';
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      }
    }
    // Bind the click event to the addDataBtn button
    $('#addDataBtn').on('click', function() {
      addDataToExcel();
    });

    // alert($(".rocks-owner").text())
});


// Reload Page Once
var userAgent = navigator.userAgent.toLowerCase();
if (userAgent.indexOf('firefox') > -1) {
} else {
  function reloadIt() {
    if (window.location.href.substr(-2) !== ".1") {
        window.location = window.location.href + ".1";
    }
  }
  setTimeout('reloadIt()', 1000);
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
