<div class="login_bg">
  <div><%= image_tag ("cem-logo-full.png") %></div>
  <h1 class="login-title title mt-4">CEM ITS L10 MEETING</h1>
  <div class="login_container">
    <p><u>Forgot your password?</u></p>
    <div>
      <%= form_with url:reset_password_path, method: :patch, local: true do |f| %>
        <div class="field text-center">
          <b><%= f.label :email %></b>
          <div><%= f.email_field :email, autofocus: true, autocomplete: "email",class:"w-100 px-2 my-2", placeholder:"Enter email" %></div>
        </div>
      
        <div class="actions my-3">
          <%= f.submit "Reset My Password" , class:"continue-btn px-3" %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to "<-- go back", root_path, method: :get, class:"back-btn" %>
    </div>
  </div>
</div>

<script>
  var error = document.querySelector(".reg-error");

  if (error.childNodes.length === 0) {
    console.log('Element is empty');
  } else {
    error.classList.add("alert");
    error.classList.add("alert-danger");
  }
</script>