<div class="login_bg">
  <div><%= image_tag ("cem-logo-full.png") %></div>
  <h1 class="login-title title mt-4">
    <div>CEM PROJECT MANAGEMENT</div>
    <div>MONITORING SYSTEM</div>
  </h1>
  <div class="login_container">
    <p>Sign up to PMMS App</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="reg-error"><%= render "users/shared/error_messages", resource: resource %></div>
      
      <div class="field">
        <b><%= f.label 'First Name' %></b>
        <div><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",class:"w-100 px-2", placeholder:"Enter first name",required:true %></div>
      </div>

      <div class="field">
        <b><%= f.label 'Last Name' %></b>
        <div><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",class:"w-100 px-2", placeholder:"Enter last name",required:true %></div>
      </div>
    
      <div class="field mt-4">
        <b><%= f.label :email %></b>
        <div><%= f.email_field :email, autofocus: true, autocomplete: "email",class:"w-100 px-2", placeholder:"Enter email" %></div>
      </div>
    
      <div class="field">
        <b><%= f.label :password %></b>
        <div>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"w-100 px-2", placeholder:"Enter password" %>
        </div>
      </div>
    
      <div class="field">
        <b><%= f.label :password_confirmation %></b>
        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"w-100 px-2",placeholder:"Confirm password" %>
        </div>
      </div>
    
      <div class="actions mt-3">
        <%= f.submit "Sign up", class:"continue-btn" %>
      </div>
    <% end %>
    <div class="mt-3">
      <%= link_to "<-- go back", root_path, method: :get, class:"back-btn" %>
    </div>
  </div>

</div>

<script>
  var error = document.querySelector(".reg-error");

  if (error.childNodes.length === 0) {
    console.log('Element is empty');
  } else {
    error.classList.add("alert");
    error.classList.add("alert-danger");
  }
</script>
